[submodule "qlp-core"]
	path = qlp-core
	url = https://github.com/LingMiao-Tech/qlp-core.git
	branch = main
[submodule "qlp_client"]
	path = qlp_client
	url = https://github.com/LingMiao-Tech/qlp_client.git
	branch = main
